body {
  background-color: #f4f4f4;
}

.main-title {
  text-align: center;
  margin: 30px auto;
}

.table-content {
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
  margin: auto;
  overflow-y: scroll;
  display: block;
}

.table-head {
  background-color: #dfdfdf;
  width: 80%;
  margin: auto;
}

.tr {
  height: 35px;
  max-height: 35px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  width: 313px;
  font-size: 15px;
}

@media only screen and (max-width: 980px) {
  .main-title {
    font-size: 20px;
  }
}
