body {
  background-color: #f4f4f4;
}

.main-title {
  text-align: center;
  margin: 30px auto;
}

.table-content {
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
  margin: auto;
  overflow-y: scroll;
  display: block;
}

.table-head {
  background-color: #dfdfdf;
  width: 80%;
  margin: auto;
}

tr {
  height: 35px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  width: 300px;
  padding: 12px;
}
